/* Herosection.css */

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Ubuntu:wght@500&display=swap");

/* Main container styling */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 100%;
  overflow: hidden;
  padding-top: 40px;
  padding: 4rem;
  /* position: relative; */
}

/* Left section styling */
.left01 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  padding-left: 1rem;
  opacity: 0;
  /* apply when the text is running */
  /* width: 730px; */
}

/* Heading styling */
.heading01 {
  font-size: 8rem; /* Adjust font size */
  font-weight: bolder;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  line-height: 1.1;
  /* to make an effect on the heading */
}

@keyframes fadeInAndScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  70% {
    opacity: 0.7;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animated {
  animation: fadeInAndScale 1s ease-in-out forwards;
}

.animate-fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* Image container styling */
.web1 img {
  width: 100%;
  max-height: 60vh;
  object-fit: cover; /* Maintain aspect ratio and cover container */
  border: 4px solid white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  margin-top: 1rem;
}

/* Right section styling */
.right01 {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10vmax;
  opacity: 0;
}

.right01 h1 {
  font-size: 2rem;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}
.right01 p {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  padding-bottom: 10px;
  opacity: 0;
}

/* Other text animations */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mernStack {
  animation:  fadeInLeft 2s ease-in-out forwards;
}

.description {
  animation:  fadeInUp 2s ease-in-out forwards;
}





@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(20px); /* For example, slide up effect */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Mobile responsive adjustments */
@media (max-width: 940px) {
  .main {
    flex-direction: column;
  }

  .left01 {
    padding: 2rem 1rem;
  }
  .left01 h1 br {
    display: none;
  }

  .heading01 {
    font-size: 2.5rem;
  }
  .web1 {
    padding: 0px 5px 0px 5px;
  }
  .web1 img {
    max-height: 40vh;
  }

  .right01 {
    padding: 2rem 1rem;
  }
}



